GoesToPTK/pkgs/Wadl/RenderPDFFileData.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="RenderPDFFileData" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Render PDF File Data" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_varSiteAddress_Value_def" />
      <string name="ManualTriggerInput_Initializevariable_Value_def" />
      <string name="ManualTriggerInput_Initializevariable_Value_1_def" />
      <string name="ManualTriggerInput_varFilePath_Value_def" />
      <object name="ManualTriggerInput">
        <property name="varSiteAddress_Value" type="string" />
        <property name="Initializevariable_Value" type="string" />
        <property name="Initializevariable_Value_1" type="string" />
        <property name="varFilePath_Value" type="string" />
      </object>
      <base64Binary name="ResponseActionOutput_pdfcontent_def" />
      <object name="ResponseActionOutput">
        <property name="pdfcontent" typeRef="ResponseActionOutput_pdfcontent_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="varSiteAddress_Value" path="/varSiteAddress_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable_Value_1" path="/Initializevariable_Value_1" type="xs:string" required="true" />
            <param style="plain" name="varFilePath_Value" path="/varFilePath_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>